.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# this also affects files that get packaged by vsce package
node_modules
#out/
src/
tsconfig.json
.venv/
openapi*
README.md
generate-openapi.sh
*.vsix
webpack.config.js

meta.yaml
devfile-test.yml
publishing-examples/
